@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
  border: 1px solid #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}